.topLeagues {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.TitleTopLeagues {
  text-align: center;
  height: 100px;
}
.TitleTopLeagues span {
  border-radius: 10px;
  background-color: red;
}
