.leagueTitle{
  text-align: left;
  text-transform: uppercase;
}

.firstDescription{
  text-align: left;
  color: #45b4b4;
}

.leagueDescription{
  text-align: left;
}

.leagueDetails{
  height: 180px;
  background-image: url(../../Images/heroesBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.lastDetails{
  background: #45b4b4;
  padding: 15px;
}
.leagueDate{
  text-align: left;
}
.leagueButton{
  text-align: right;
}
.btn{
  background: #0a7272;
  border-color: #0a7272;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  color: #0a7272;
  background: white;
  border-color: white;
}