.leaugesPage .tableWrapper {
    text-align: right;
}
.leaugesPage .tableWrapper table{
    vertical-align: middle;
    text-align: left;
}
.leaugesPage .tableWrapper .addButton{
    padding: 10px 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    border:none;
    text-transform: uppercase;
    margin: 0 10px;
}
.leaugesPage .tableWrapper .addButton{
    background-color: #2976bb;
}
.leaugesPage .tableWrapper .editButton,
.leaugesPage .tableWrapper .deleteButton{
    background-color: transparent;
    border: none;
}
.leaugesPage .tableWrapper .deleteButton{
    fill: rgb(221, 72, 72);
}

.leaugesPage .tableWrapper .editButton{
    fill: rgb(228, 166, 51);
}