.homePlayerCard .playerText{
  padding: 10px 0;
  background-image: url(../../Images/infoBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.homePlayerCard .playerNumber{
  text-align: right;
}
.homePlayerCard .playerFont{
    font-size: 16px;
}
.homePlayerCard .buyKit a{
  color: white;
  cursor: pointer;
  padding: 0px;
}

.homePlayerCard .playerFont a:hover {
  color: #45b4b4;
}