.playerBanner {
    height: 500px;
    background: url(../../../assets/img/innerpageBg.jpg);
    background-size: cover;
    background-position: center center;
  }

  .title {
  color: white;
  font-size: 80px;
}
.title span {
  color: #45b4b4;
}
