.footer {
  background-color: black;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.footer ul li svg {
  fill: #ffffff;
  width: 25px;
  height: 25px;
  margin: 10px;
  margin-top: 15px;
}
.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .footerLinks ul {
  margin-bottom: 20px;
}
.footer .footerLinks form{
  width: 100%;
}
.footer .footerLinks form label{
  margin-bottom: 10px;
  font-weight: bold;
}
.footer .footerLinks form .error-msg{
  display: block;
  padding-top: 15px;
  color: #ca2a2a;
}
.footer .footerLinks form .succesResponse{
  display: block;
  visibility: hidden;
  opacity: 0;
  padding-top: 0px;
  color: #45b4b4;
  font-size: 20px;
  font-weight: bold;
  transition: all .15s linear .15s;
}
.footer .footerLinks form .succesResponse.active{
  padding-top: 15px;
  visibility: visible;
  opacity: 1;
}
.footer .footerLinks input{
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 8px;
  border: 3px solid #45b4b4;
}

.footer .footerLinks .form-group{
  position: relative;
}
.footer .footerLinks .form-group button{
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #45b4b4;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  transition: all .15s linear .15s;
  z-index: 1;
}
.footer .footerLinks .form-group button:hover{
  background-color: #ffffff;
  color: #000000;
}
.footerLogo {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footerLogo img {
  width: 180px;
  height: 80px;
  object-fit: contain;
}
.footerInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyrightFooter {
  color: #45b4b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
.copyrightFooter P {
  padding: 0px;
  margin: 0px;
}
.footersLinks {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.footersLinks a.active {
  color: #45b4b4;
}
.footersLinks ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footersLinks ul li {
  display: inline-block;
  padding: 5px;
  font-size: 20px;
}
.footersLinks ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.15s linear 0.15s;
}
.footersLinks ul li a:hover {
  color: #45b4b4;
  text-decoration: none;
}
