.contactBanner {
  height: 500px;
  background: url(../../../assets/img/innerpageBg.jpg);
  background-size: cover;
  background-position: center center;
}
.contactBanner .title {
  color: white;
  font-size: 80px;
}
.contactBanner .title span {
  color: #45b4b4;
}
