.DashboardPage .paddingBox{
    padding: 40px 0;
    /* margin: 10px 10px 60px 10px; */
    border-radius: 20px;
    color: white;
}

.DashboardPage .row{
    margin-bottom: 60px;
}

.DashboardPage .numbers{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}