.contactForm .responseMessages{
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .15s linear .15s;
  position: relative;
}
.contactForm.active .responseMessages,
.contactForm.active .responseMessages{
  opacity: 1;
  visibility: visible;
}
.contactForm h1 {
  color: gray;
  font-weight: normal;
}

.contactForm h1 span:nth-child(1) {
  border-bottom: 2px solid #45b4b4;
}

.contactForm h1 span:nth-child(2) {
  color: #45b4b4;
}
.contactForm h1 span span {
  color: #45b4b4;
}
.contactForm .inputsDesign {
  background: black;
  height: 60px;
  color: gray;
  font-size: 18px;
}
.contactForm .thankYouAppear{
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  color: #0b5f5f;
  font-weight: bold;
  transition: all .15s linear .15s;
}
.contactForm.active .thankYouAppear{
  position: relative;
  visibility: visible;
  opacity: 1;

}
.contactForm .errorrAppear{
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  color: #a11d1d;
  font-weight: bold;
  transition: all .15s linear .15s;
}
.contactForm.error .errorrAppear{
  position: relative;
  visibility: visible;
  opacity: 1;

}
.contactForm .inputsDesign:focus {
  background: black;
  border-color: #45b4b4;
  box-shadow: none;
  color: gray;
}

.contactForm textarea {
  height: 150px;
}
.contactForm .btn {
  color: #fff;
  background-color: #45b4b4;
  border-color: #45b4b4;
  padding: 10px 40px;
}
.contactForm .btn:hover{
  border-color: #0b5f5f;
  background-color: #0b5f5f;
}
.contactForm svg {
  fill: #45b4b4;
}
.contactForm .error-msg { 
  display: block;
  margin-top: 10px;
  color: #db2525;
}
