.contactForm h1 {
  color: gray;
  font-weight: normal;
}

.contactForm h1 span:nth-child(1) {
  border-bottom: 2px solid #45b4b4;
}

.contactForm h1 span:nth-child(2) {
  color: #45b4b4;
}
.contactForm h1 span span {
  color: #45b4b4;
}
.contactForm .inputsDesign {
  background: black;
  height: 60px;
  color: gray;
  font-size: 18px;
}

.contactForm .inputsDesign:focus {
  background: black;
  border-color: #45b4b4;
  box-shadow: none;
  color: gray;
}

.contactForm textarea {
  height: 150px;
}
.contactForm .btn {
  color: #fff;
  background-color: #45b4b4;
  border-color: #45b4b4;
  padding: 10px 40px;
}
.contactForm .btn:hover{
  border-color: #0b5f5f;
  background-color: #0b5f5f;
}
.contactForm svg {
  fill: #45b4b4;
}
