.AboutDescription .bottomBorder{
  border-bottom: 3px solid #45b4b4;
  padding-bottom: 5px;
}

.AboutDescription .divPaddings{
  padding: 80px 0;
}

.AboutDescription .paragraph{
  font-size: 15px;
  color: #a19595;
  padding: 40px 0px;
}

.AboutDescription .AboutParagraph{
  background-image: url(../../Images/whiteBgBig.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.AboutDescription .employeeText{
  color: #979da0;
}
.AboutDescription .photo1{
  width: 100%;
  height: 250px;
  background-image: url(../../Images/boardMember01.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.AboutDescription .employeePosition{
  width: 100%;
  background: #282f37;
}

.AboutDescription .employeeBio{
  width: 100%;
  background: #20262d;
}

.AboutDescription .employeeBirthday{
  width: 100%;
  background: #45b4b4;
}

.AboutDescription .employeeBirthday div{
  color: white;
}

.AboutDescription .employee{
  background-image: url(../../Images/heroesBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.AboutDescription .mainColor{
  color: #45b4b4;
}