.TeamCard .TeamLogo img{
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.TeamCard .FontSize{
  font-size: 20px;
  margin-left: 10px;
}

.TeamCard p{
  font-size: 14px;
}

.TeamCard{
  background: url(../../Images/whiteBgBig.jpg) repeat;
}

.TeamCard .Info{
  color: #45b4b4;
}

.TeamCard .BuyNowWrapper{
  float: right;
}

.TeamCard .BuyNowWrapper a{
  background-color: #45b4b4;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all .15s linear .15s;
}

.TeamCard .BuyNowWrapper a:hover{
  color: #45b4b4;
  background: black;
}