.TeamLogo img{
  background-color: black;
  width: 100%;
  height: 100%;
}

.FontSize{
  font-size: 20px;
  margin-left: 10px;
}

p{
  font-size: 14px;
}

.TeamCard{
  background: url(../../Images/whiteBgBig.jpg) repeat;
}

.Info{
  color: #45b4b4;
}

.BuyNowWrapper{
  float: right;
}

.BuyNowWrapper button{
  background-color: #45b4b4;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all .15s linear .15s;
}

.BuyNowWrapper button:hover{
  color: #45b4b4;
  background: black;
}